@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	color: #6e6e6e;
	background: #fff;
	font-size: 16px;
	font-weight: 400;
	overflow-x: hidden;
} 

@media (max-width: 1100px) {
	body {
		overflow: hidden;
	}
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: #fff;
	outline: 1px solid slategrey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	color: #6e6e6e;
}

h1 {
	font-size: 50px;
	color: #aa97bd;
	font-weight: 700;
	line-height: 50px;
	text-transform: none;
	letter-spacing: -1px;
	padding-left: 0px;
	margin-bottom: 0px;
}

h4 {
	font-weight: 300;
	font-size: 34px;
	line-height: 46px;
}

span.small-heading {
	font-family: var(--font-inter);
	color: var(--color-gray);
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 3px;
	margin-bottom: 10px;
	line-height: 28px;
	display: block;
}

h2 {
	color: #5b2584;
	font-size: 42px;
	font-weight: 600;
	letter-spacing: -0.84px;
	margin-bottom: 30px;
	line-height: 48px;
}

h3 {
	color: #5b2584;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -0.28px;
	margin-bottom: 0px;
	line-height: 38px;
}

h4 {
	color: #5b2584;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -0.28px;
	margin-bottom: 0px;
	line-height: 38px;
}

h5 {
	font-size: 20px;
	font-weight: 600;
	color: var(--color-black);
	line-height: 32px;
}

p {
	font-family: var(--font-inter);
	color: var(--color-gray);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

strong {
	font-weight: 600;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

a {
	font-family: var(--font-inter);
	color: #2C2E43;
	text-decoration: none;
	transition: all .5s ease;
}

a:hover {
	color: #5b2584;
	text-decoration: none;
	text-decoration: none;
}

* {
	outline: none !important;
}


/* Back to top button */

.back-to-top {
	position: fixed;
	display: block;
	background: #aa97bd;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
	line-height: 1;
	font-size: 16px;
	right: -50px;
	bottom: 60px;
	opacity: 0;
	visibility: hidden;
	z-index: 11;
	transition: all 0.5s ease;
}

.back-to-top:hover {
	background: #1d1462;
	color: #FFF;
}

.back-to-top.scrollfixed {
	right: 5px;
	opacity: 1;
	visibility: visible;
	transition: 0.5s ease;
}

.back-to-top i {
	padding-top: 12px;
}


/* Prelaoder */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.95);
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #FFF;
	border-top: 6px solid #5b2584;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media (min-width: 1360px) {
	.container {
		max-width: 1300px;
	}
}

.blue-bg {
	background: #5b2584;
}

.light-gray-bg {
	background: var(--color-light-gray);
}

.dark-gray-bg {
	background: #363636;
}

.pink-bg {
	background: #aa97bd;
}

.text-pink {
	color: #aa97bd;
}

.text-blue {
	color: #5b2584;
}


.commeon-heading h4 {
	font-weight: 300;
	font-size: 34px;
	line-height: 46px;
}

.commeon-heading h4 span {
	font-weight: 700;
}

.commeon-heading.back-to-top.scrollfixed h4 {
	color: var(--color-black);
}

.commeon-heading.blk h4 span {
	color: #aa97bd;
}

.commeon-heading.wht h4 {
	color: #fff;
}

.commeon-heading.wht h4 span {
	color: #fff;
}

.show-mobile {
	display: none !important;
}

.show-desktop {
	display: block;
}

.main-content {
	min-height: 100%;
	min-height: 100vh;
	position: relative;
	z-index: 1;
	background: #fff;
}

#home-banner-carousel.carousel { 
}

#home-banner-carousel .carousel-inner {
	height: 100% !important;
}

#home-banner-carousel .carousel-inner .carousel-item { 
	background-repeat: no-repeat;
	background-position: right 0 bottom;
	background-size: contain;
	padding: 280px 0px;
	transition: all 1s ease;
	margin-top: 105px;
}

#home-banner-carousel .carousel-inner .carousel-item.active {
	transition: all 0.3s ease;
}

#home-banner-carousel .carousel-inner .carousel-item .carousel-caption {
	width: 100%;
	text-align: left;
	right: inherit;
	bottom: inherit;
	top: 200%;
	left: 20px;
	opacity: 0;
	transition: all 0.3s ease;
}

#home-banner-carousel .carousel-inner .carousel-item.active .carousel-caption {
	top: 50%;
	opacity: 1;
	transform: translateY(-50%);
	transition: all 1s ease;
	max-width:1200px;
	margin:o auto;
}

#home-banner-carousel .carousel-indicators {
	bottom: 0px;
	text-align: center;
	justify-content: center;
	margin-left: 10px;
	margin-right: 0px;
	z-index: 999;
}

#home-banner-carousel.carousel .carousel-indicators li {
	width: 10px;
	transition: 0.5s ease;
	height: 10px;
	border-radius: 5px;
	background: rgba(6, 91, 170, 0.3);
	border: none;
}

#home-banner-carousel.carousel .carousel-indicators li.active {
	width: 40px;
	transition: 0.5s ease;
	background: #aa97bd;
	border: none;
}

#home-banner-carousel .carousel-caption h1 {
	font-size: 45px;
	color: #fff;
	font-weight: 700;
	line-height: 55px;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-left: 0px;
	margin-bottom: 0px;
	width:40%;
}

#home-banner-carousel .carousel-caption p {
	color: var(--color-black);
	font-weight: 400;
	font-size: 46px;
	margin-top: 6px;
	line-height: 1.3;
}

#home-banner-carousel .carousel-caption p a {
	color: #fff;
	padding: 15px 40px;
	border-radius: 4px;
	display: inline-block;
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease;
	font-weight: 400;
}

#home-banner-carousel .carousel-caption p a:before {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -2;
	background: #aa97bd;
}

#home-banner-carousel .carousel-caption p a:after {
	position: absolute;
	right: 0;
	top: 0px;
	width: 0px;
	height: 100%;
	content: "";
	z-index: -1;
	background: #5b2584;
	transition: all 1s ease;
}

#home-banner-carousel .carousel-caption p a:hover:after {
	width: 100%;
	right: inherit;
	left: 0px;
	transition: all 1s ease;
}

#home-banner-carousel .carousel-caption p a:hover {
	transition: all 1s ease;
}

#home-banner-carousel .carousel-control-next,
#home-banner-carousel .carousel-control-prev {
	opacity: 1;
	background: #fff;
	width: 50px;
	height: 50px;
	transition: 0.5s ease;
	bottom: inherit;
	top: 60%;
	border-radius: 50%;
	z-index: 999;
	transition: all 0.3s ease;
}

#home-banner-carousel .carousel-control-next:hover,
#home-banner-carousel .carousel-control-prev:hover {
	background: #aa97bd;
	transition: all 0.3s ease;
}

#home-banner-carousel .carousel-control-next img,
#home-banner-carousel .carousel-control-prev img {
	transition: all 0.3s ease;
}

#home-banner-carousel .carousel-control-next:hover img,
#home-banner-carousel .carousel-control-prev:hover img {
	filter: brightness(0) invert(1);
	transition: all 0.3s ease;
}

#home-banner-carousel .carousel-control-prev {
	left: 5%;
}

#home-banner-carousel .carousel-control-next {
	right: 5%;
}

#home-banner-carousel .carousel-control-next:hover,
#home-banner-carousel .carousel-control-prev:hover {
	transition: 0.5s ease;
	color: #fff;
}

#home-banner-carousel .carousel-indicators li {
	background-color: transparent;
	border: 1px solid #fff;
	opacity: 1;
	margin: 0px 5px;
}

#home-banner-carousel .carousel-indicators li.active {
	background-color: #fff;
	border: 1px solid #fff;
}

#home-banner-carousel .carousel-indicators {
	bottom: -50px;
	max-width: 1170px;
	margin: 0 auto;
}

section {
	padding: 70px 0px;
	position: relative;
}

.pad-20 {
	padding: 20px;
}

.pad-top-10 {
	padding-top: 10px;
}

.pad-top-20 {
	padding-top: 20px;
}

.pad-top-30 {
	padding-top: 30px;
}

.pad-top-50 {
	padding-top: 50px !important;
}

.pad-top-100 {
	padding-top: 100px !important;
}

.pad-bot-20 {
	padding-bottom: 20px !important;
}

.pad-bot-30 {
	padding-bottom: 30px !important;
}

.pad-bot-50 {
	padding-bottom: 50px !important;
}

.pad-bot-100 {
	padding-bottom: 100px !important;
}

.mar-bot-10 {
	margin-bottom: 10px !important;
}

.mar-bot-20 {
	margin-bottom: 20px !important;
}

.mar-bot-30 {
	margin-bottom: 30px !important;
}

.mar-bot-50 {
	margin-bottom: 50px !important;
}

.mar-top-30 {
	margin-top: 30px !important;
}

.mar-top-50 {
	margin-top: 50px !important;
}

.show-tab {
	display: none;
}

a.link-orange {
	font-family: var(--font-inter);
	color: #aa97bd;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	padding: 7px 0px 10px 0px;
	position: relative;
	display: inline-block;
	margin-top: 20px;
	transition: all 0.6s ease;
}

a.link-orange:before {
	position: absolute;
	right: 0;
	bottom: 0px;
	width: 100%;
	height: 2px;
	content: "";
	background: #aa97bd;
	transition: all 0.6s ease;
}

a.link-orange:hover {
	transition: all 0.6s ease;
	color: #5b2584;
}

a.link-orange:hover:before {
	width: 0px;
	transition: all 0.6s ease;
}

a.link-orange:after {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 0px;
	height: 2px;
	content: "";
	background: #5b2584;
	transition: all 0.6s ease;
}

a.link-orange:hover:after {
	width: 100%;
	transition: all 0.6s ease;
}

a.link-white {
	font-family: var(--font-inter);
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	padding: 7px 0px 10px 0px;
	position: relative;
	display: inline-block;
	margin-top: 10px;
	transition: all 0.6s ease;
}

a.link-white:before {
	position: absolute;
	right: 0;
	bottom: 0px;
	width: 100%;
	height: 2px;
	content: "";
	background: #fff;
	transition: all 0.6s ease;
}

a.link-white:hover {
	transition: all 0.6s ease;
	color: #aa97bd;
}

a.link-white:hover:before {
	width: 0px;
	transition: all 0.6s ease;
}

a.link-white:after {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 0px;
	height: 2px;
	content: "";
	background: #aa97bd;
	transition: all 0.6s ease;
}

a.link-white:hover:after {
	width: 100%;
	transition: all 0.6s ease;
}

.orange-btn {
	color: #fff;
	letter-spacing: 0.1em;
	font-family: var(--font-inter);
	padding: 15px 40px;
	font-weight: 400;
	border-radius: 8px;
	display: inline-block;
	margin-top: 20px;
	text-align: center;
	z-index: 99;
	text-transform: uppercase;
	font-size: 13px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease;
}

.orange-btn:before {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -2;
	background: #aa97bd;
}

.orange-btn:after {
	position: absolute;
	right: 0;
	top: 0px;
	width: 0px;
	height: 100%;
	content: "";
	z-index: -1;
	background: #fff;
	transition: all 1s ease;
}

.orange-btn:hover:after {
	width: 100%;
	right: inherit;
	left: 0px;
	transition: all 1s ease;
}

.orange-btn:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	color: #5b2584;
	transition: all 1s ease;
}

.orange-btn.bg-blue:after {
	background: #5b2584;
}

.orange-btn.bg-blue:hover {
	color: #fff;
}

.submit-btn {
	background: #aa97bd;
	color: #fff;
	letter-spacing: 0.1em;
	font-family: var(--font-inter);
	padding: 14px 30px;
	font-weight: 600;
	border: none;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	transition: all 0.3s ease;
}

.submit-btn:hover,
.submit-btn:focus {
	background: #5b2584;
	color: #fff;
	transition: all 0.3s ease;
}

.form-bg .submit-btn:hover,
.form-bg .submit-btn:focus {
	background: var(--color-black);
}

.home-about-image {
	position: relative;
}

.common-heading h2{font-size:25px;font-weight:600;text-transform:uppercase;letter-spacing:1px;color:#6e6e6e;line-height:32px;}
.common-heading h2 span{font-weight:300;display:block;}

.topbooked-cases{margin:0px -10px;}

.case{padding:25px 5px 25px 25px;border:1px solid #d4d4d4;border-radius:5px;margin:0px;}
.case h3{font-size:14px;font-weight:500;line-height:20px;color:#6e6e6e;margin-bottom:10px;}
.case h4{font-size:14px;font-weight:300;line-height:20px;color:#6e6e6e;min-height:72px;}
.case h5{font-size:18px;font-weight:700;line-height:20px;color:#6e6e6e;}

.slick-slide{padding: 0px 11px;}

.slick-prev:before,
.slick-next:before {
	color: #6e6e6e;
	opacity: 1;
	font-size: 30px;
	font-family: FontAwesome !important;
	transition: all 0.3s ease;
}

.slick-prev:before {
	content: "\f104";
}

.slick-next:before {
	content: "\f105";
}

.slick-prev:hover:before,
.slick-next:hover:before {
	color: #fff;
	transition: all 0.3s ease;
}

.slick-prev,
.slick-next {
	width: 50px;
	height: 50px;
	border: 1px solid #6e6e6e !important;
	border-radius: 50%;
	transition: all 0.3s ease;
	z-index: 999;
}

.slick-next {
	right: -70px;
}

.slick-prev {
	left: -70px;
}

.slick-prev:hover,
.slick-next:hover {
	background: #aa97bd; 
	transition: all 0.3s ease;
}

.topbooked-cases .slick-arrow.slick-prev, .topbooked-cases .slick-arrow.slick-next {
	border-color: #fff;
}
.topbooked-cases .slick-arrow.slick-prev:hover, .topbooked-cases .slick-arrow.slick-next:hover {
	border-color: #aa97bd !important;
	background: #aa97bd !important;
}
.topbooked-cases .slick-arrow.slick-prev::before, .topbooked-cases .slick-arrow.slick-next::before {
	color: #6e6e6e;
}

.topbooked-cases .slick-arrow.slick-prev:hover:before,
.topbooked-cases .slick-arrow.slick-next:hover:before{color:#fff;}

.popular-lists .slick-arrow.slick-prev, .popular-lists .slick-arrow.slick-next {
	border-color: #fff;
}
.popular-lists .slick-arrow.slick-prev:hover, .popular-lists .slick-arrow.slick-next:hover {
	border-color: #aa97bd !important;
	background: #aa97bd !important;
}
.popular-lists .slick-arrow.slick-prev::before, .popular-lists .slick-arrow.slick-next::before {
	color: #6e6e6e;
}

.popular-lists .slick-arrow.slick-prev:hover:before,
.popular-lists .slick-arrow.slick-next:hover:before{color:#fff;}

span.strke{color:#a2a2a2;font-size:14px;margin-left:5px;}

.case p{margin-bottom:0px;}

.case p a {
	color: #fff;
	padding: 6px 22px;
	border-radius: 4px;
	display: inline-block;
	margin-top: 0px;
	text-align: center;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease;
	font-weight: 400;
	cursor: pointer;
}

.case p a:before {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -2;
	background: #aa97bd;
}

.case p a:after {
	position: absolute;
	right: 0;
	top: 0px;
	width: 0px;
	height: 100%;
	content: "";
	z-index: -1;
	background: #5b2584;
	transition: all 1s ease;
}

.case p a:hover:after {
	width: 100%;
	right: inherit;
	left: 0px;
	transition: all 1s ease;
}

.case p a:hover {
	transition: all 1s ease;
}

.helth-chkup{background-color:#f9f9f9;}

.parts-seq img{display:inline-block;}
.parts-seq span{display:block;}

.pack-deils {border:1px solid #d4d4d4;border-radius:5px;padding:10px;}

.pck-img{position:relative;}
.pck-img img{width:100%;border-radius:5px;}

.ble-fnt{position:absolute;content:"";width:52px;height:52px;background-color:#293a94;color:#fff;right:7px;bottom:-28px;border-radius:5px;text-align:center;font-size:16px;font-weight:700;line-height: 16px;
padding-top: 11px;}

.ble-fnt span{font-weight:300;font-size:12px;}

.pack-deils{margin:0px;}

.popular-lists{margin:0px -10px;}

.pack-deils h3{font-size:16px;font-weight:500;line-height:20px;color:#6e6e6e;margin-bottom:10px;margin-top:18px;}
.pack-deils h4{font-size:14px;font-weight:300;line-height:22px;color:#6e6e6e;min-height:80px;}
.pack-deils h5{font-size:18px;font-weight:700;line-height:20px;color:#6e6e6e;}
.pack-deils h6{font-size:16px;font-weight:300;line-height:20px;color:#f19245;}

.pack-deils h4 a{color:#aa97bd;}

.pack-deils p{margin-bottom:0px;}

.pack-deils p a {
	color: #fff;
	padding: 6px 22px;
	border-radius: 4px;
	display: inline-block;
	margin-top: 0px;
	text-align: center;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease;
	font-weight: 400;
}

.pack-deils p a:before {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -2;
	background: #aa97bd;
}

.pack-deils p a:after {
	position: absolute;
	right: 0;
	top: 0px;
	width: 0px;
	height: 100%;
	content: "";
	z-index: -1;
	background: #5b2584;
	transition: all 1s ease;
}

.pack-deils p a:hover:after {
	width: 100%;
	right: inherit;
	left: 0px;
	transition: all 1s ease;
}

.pack-deils p a:hover {
	transition: all 1s ease;
}

.condition-packages{background-color:#63b5f7;}

.common-heading.white h2{color:#fff;}

.condition-lsts{margin:0px -10px;}

.tes-cond{background-color:#fff;border-radius:5px;padding:15px 10px 10px 10px;position:relative;margin:0px;}
.tes-cond a{position:absolute;content:"";right:10px;bottom:10px;height:24px;width:24px;text-align:cenet;color:#fff;border-radius:50%;background-color:#63b5f7;font-weight: 500;
font-size: 19px;
line-height: 24px;}
.tes-cond img{display:inline-block;margin-bottom:15px;}
.tes-cond h4{text-align:left;font-weight:500;color:#6e6e6e;font-size:16px;}

.works-cunt p{font-weight:300;font-size:16px;margin-bottom:0px;}

.works-cunt{position:relative;}
.works-cunt span{position:absolute;content:"";bottom:0;left:0;text-align:center;font-weight:700;font-size:200px;line-height:145px;width:100%;color:#aa97bd;opacity:0.10;}

.sample-collection .common-heading{margin-bottom:100px;}

.testimonials{background-color:#f9f9f9;position:relative;}
.testimonial-topics{position:relative;padding-left:100px;}
.testimonial-topics:before{position:absolute;content:"";left:0;top:-30px;background: rgba(0, 0, 0, 0) url("../images/dble-code.png") no-repeat scroll 0 0;height:109px;width:136px;}

.testims{font-size:22px;line-height:30px;font-weight:300;}

.testi-section{padding:85px 15px 85px 33%;}

section.testimonials{padding:0px;margin-bottom:-5px;}

.testivideo-section img{width:100%;}

.testivideo-section{position:relative;}

.plying-btn{position:absolute;left:calc(50% - 63px);top:calc(50% - 63px);}

.testims span{display:block;font-weight:600;font-size:17px;margin-top:20px;}

.testimonial-topics .slick-dots{bottom:-45px;margin-left:-100px;}

.testimonial-topics .slick-dots li.slick-active button::before{color:#81c3f7;opacity:1;}

.testimonial-topics .slick-dots li button::before {font-size:14px;}

.testimonial-topics .slick-dots li button:hover::before, .testimonial-topics .slick-dots li button:focus::before {
  opacity: 1;color:#81c3f7;
}

section.maping{background-color:#ebf2f7;padding:30px 0px;}

.maping .common-heading h2{margin-bottom:10px;}
.maping .common-heading span{display:inline-block;}

.location-details input {
  width: 100%;
  height: 40px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding-left: 15px;
}

.location-details button {
  float: right;
  padding: 9px 18px;
  margin-top: 0;
  margin-right: 16px;
  background: #63b5f7;
  font-size: 14px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -1px;
  border-radius: 5px;
  color: #fff; 
  text-transform: uppercase;
}

.location-details button:hover {
  background: #293a94;
  transition: all 1s ease;
}

.legacy-details{font-size:16px;width:70%;margin:0 auto 70px;}

.nutshell-count ul{margin:0px -10px;padding:0px;}
.nutshell-count ul li{margin:0px;padding:0px;display:inline-block;width:15%;-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.09);
-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.09);
box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.09);border-radius:5px;margin:0px 8px;vertical-align:top;}

.nutshell-count ul li h4{background-color:#63b5f7;color:#fff;padding:40px 0px 0px 20px;text-align:left;font-size:47px;line-height:28px;}

.nutshell-count ul li:nth-child(4) h4, .nutshell-count ul li:nth-child(5) h4, .nutshell-count ul li:nth-child(6) h4{background-color:#aa97bd;}

.nutshell-count ul li h5{text-align:left;padding:10px 0px 25px 20px;font-size:20px;font-weight:300;line-height:24px;min-height:105px;}

span.clr-pnk{font-weight:300;}

.media-structure{border-top:1px solid #e7e7e7;}

.lat-hapns{margin:0px -10px;}

.haapns{background-color:#63b5f7;padding:35px 10px 35px 30px;margin:0px;min-height:346px;overflow:hidden;border-radius:5px;}

.haapns h3{font-weight:300;padding:2px 10px;border:1px solid #fff;border-radius:5px;color:#fff;font-size:14px;display:inline-block;line-height:25px;margin-bottom:15px;}

.haapns h4{font-weight:600;font-size:20px;line-height:25px;text-transform:uppercase;color:#fff;margin-bottom:16px;}

.haapns p{color:#fff;margin:0px;font-size:14px;line-height:22px;width:80%;}

.lat-hapns .slick-dots{bottom:-45px; }

.lat-hapns .slick-dots li.slick-active button::before{color:#81c3f7;opacity:1;}

.lat-hapns .slick-dots li button::before{font-size:14px;}

.lat-hapns .slick-dots li button:hover::before, .lat-hapns .slick-dots li button:focus::before {opacity: 1;color:#81c3f7;}

.knoledge-hub img{border-radius:5px;}

.knoledge-hub{position:relative;}

.know-hub{position:absolute;content:"";bottom:35px;left:35px;}
.know-hub h4{color:#fff;font-weight:600;font-size:20px;}
.know-hub p{color:#fff;font-weight:300;font-size:14px;line-height:20px;margin:0px;width:70%;}

.know-hub a{
	position:absolute;
	right:35px;
	bottom:30px;
	color:#fff;
	background-color:#957dad;
	padding:8px 18px;
	text-transform:uppercase;
	border-radius:5px;transition: all 0.3s ease;
}

.know-hub a:hover{transition: all 0.3s ease;background-color:#63b5f7;}
 
section.accrediation{padding:0px 0px 100px;}

.acrdes-solution{position:relative;}
.acrdes-solution:before{position:absolute;content:"";left:-70px;top:0;width:1px;height:100%;background-color:#d2d2d2;}

.acrdes-solution p{position:relative;padding:0px 0px 0px 120px;}
.acrdes-solution p img{position:absolute;left:0;top:-26px;}
.acrdes-solution p span{display:block;color:#aa97bd;}

.reach-uslinks{background-color:#626262;padding:50px 0px;position:relative;}
.reach-uslinks:before{position:absolute;content:"";background-color:#585858;height:100%;width:38%;right:0;top:0;}

.call-us ul{padding:0px;margin:0px;}
.call-us li{display:inline-block;width:49%;position:relative;padding-left:50px;}
.call-us li:nth-child(2){padding-left:75px;}
.call-us h4{font-weight:700;color:#fff;font-size:25px;line-height:25px;}
.call-us h4 span{font-weight:300;color:#fff;font-size:16px;line-height:25px;display:block;}

.call-us li img{position:absolute;left:0;top:-5px;}

ul.footer-socials{padding:0px;margin:0px;float:right;}
ul.footer-socials li{padding:0px;margin:0px;display:inline-block;margin-left:15px;}
ul.footer-socials li a {
  border: 2px solid #fff;
  padding: 12px;
  border-radius: 50%;
  display: inline-block;
  height: 45px;
  width: 45px;
  position: relative;
}
ul.footer-socials li i {
  font-size: 21px;
  color: #fff;
  line-height: 0;
  position: absolute;
  left: 12px;
  top: 21px;
}

ul.footer-socials li:nth-child(1) i {left: 13px;top: 22px;}
ul.footer-socials li:nth-child(3) i {left: 12px;}
ul.footer-socials li:nth-child(5) i {left: 11px;}

.footer-column input{width:90%;height:45px;border-radius:5px;padding:15px;border:0px;}
.footer-column button{position:absolute;right:42px;bottom:11px;background-color:transparent;border:0px;}

footer h5.cips{margin:15px 0px 0px 0px;} 

h4.cont-frmhed{font-weight:600;font-size:16px;line-height:28px;margin: 0px;text-transform: uppercase;color:#606060;}

.banner-conceptual{position: relative;}

.banner-form {
	position: absolute;
	width: 340px;
	background-color: rgba(255,2255,255,0.9);
	top: 21%;
	right: 17%;
	content: "";
	z-index: 1;
	padding: 40px 25px;
	border-radius: 5px;
  }

.req-form {
	margin-top: 30px;
	background-color: #fff;
	padding: 55px 60px
}

.form-data {
	position: relative; 
}

.form-data.sbm {
	border-bottom: 0;
	display: block;
	text-align: center;
}

.form-data label {
	position: absolute;
	font-size: 15px;
	color: #7c7c7c;
	letter-spacing: .15px
}

.input100 {
	display: block;
	width: 100%;
	background: 0 0;
	padding: 0 5px
}

.form-data input {
	border: none;
	border-radius: 0;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	width: 100%;
	height:55px;
	border-bottom: 1px solid #d4d5d5;
}

.form-data textarea {
	border: 0!important;
	border-bottom: 1px solid #cecece;
	border-radius: 0;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	width: 100%
}

.form-data input[type="submit"] {
	margin-top: 23px;
	color: #fff;
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	font-size: 18px;
	background-color: #a895bc;
	padding: 9px 10px;
	border-radius: 8px;
	width: 82%;
	height: auto;
  }

.form-data input[type=submit]:hover {
background: #5b2584;
transition: all .5s ease-in-out
}

.focus-input100 {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none
}

.focus-input100::before {
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	height: 2px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
	background: #63b5f7; 
}

.focus-input100::after {
	font-family: Roboto, sans-serif;
	font-size: 15px;
	color: #999;
	line-height: 1.2;
	content: attr(data-placeholder);
	display: block;
	width: 100%;
	position: absolute;
	top: 30px;
	left: 0;
	padding-left: 5px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s
}
 

.input100:focus+.focus-input100::before {
	width: 100%
} 
.has-val.input100+.focus-input100::before {
	width: 100%
}

.fileupload {
    width: 100px;
    height: 50px;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0) url("../images/dble-code.png") no-repeat scroll 0 0;
}

.fileupload input {
    position: absolute;
    top: 0;
    right: 0; /* not left, because only the right part of the input seems to
                 be clickable in some browser I can't remember */
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0); /* and all the other old opacity stuff you
                                 want to support */
    font-size: 300px; /* wtf, but apparently the most reliable way to make
                         a large part of the input clickable in most browsers */
    height: 200px;
}







































































































































@media(min-width:768px) {
	.nav-tabs {
		display: flex;
	}
	#infrastructure.nav-tabs{
		display: block;
	}
	.card {
		border: none;
	}

	.card .card-header {
		display: none;
	}

	.card .collapse {
		display: block;
	}
}

@media(min-width:992px) {
	#infrastructure.nav-tabs.fixed{
		position: fixed;
		top: 100px;
		transition: all 0.3s ease;
	}
	#infrastructure.nav-tabs.fixed.bottom-fixed{
		top: inherit;
		position: absolute;
		bottom: 0px;
		transition: all 0.3s ease;
	}
	#infrastructure.nav-tabs.fixed{
		width: 310px;
	}
}
@media(min-width:1200px) {
	#infrastructure.nav-tabs.fixed{
		width: 370px;
	}
}
@media(min-width:1360px) {
	#infrastructure.nav-tabs.fixed{
		width: 390px;
	}
}


@media (max-width:1400px) {
	#home-banner-carousel .carousel-inner .carousel-item {
		background-position: right 0px bottom;
	}

	#home-banner-carousel .carousel-control-next {
		right: 10px;
	}

	#home-banner-carousel .carousel-control-prev {
		left: 10px;
	}

}

@media (max-width:1300px) {

	.slick-prev,
	.slick-next {
		width: 30px;
		height: 30px;
	}

	.slick-prev:before,
	.slick-next:before {
		font-size: 12px;
	}

	.slick-prev {
		left: -10px;
	}

	.slick-next {
		right: -10px;
	}
}

@media (max-width:1200px) {

	body,
	body.home {
		padding-top: 109px;
	}

	.show-tab {
		display: block;
	}

	img.clients-image,
	#home-banner-carousel.carousel:before {
		display: none;
	}

	#home-banner-carousel .carousel-inner .carousel-item .show-tab {
		text-align: center;
	}

	#home-banner-carousel .carousel-inner .carousel-item .show-tab img {
		width: 80%;
		display: inline-block;
	}

	section {
		padding: 50px 0px;
	}

	#home-banner-carousel .carousel-inner .carousel-item {
		padding: 0px;
		background-image: none !important;
		margin-top: 0px;
	}

	#home-banner-carousel .carousel-inner .carousel-item .carousel-caption {
		position: relative;
		padding-left: 30px;
		left: inherit;
		padding-top: 50px;
	}

	#home-banner-carousel .carousel-inner .carousel-item .carousel-caption h1 {
		font-size: 42px;
		line-height: 50px;
	}

	.sample-collections li h4 {
		font-size: 16px;
		line-height: 19px;
	}

	.nav-tabs .nav-link {
		font-size: 16px;
	}
}

@media (max-width:960px) {
	ul.counters-list {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	ul.counters-list li {
		width: 33.33%;
	}

	.brand-logos .slick-current img,
	.clients-logos .slick-current img {
		filter: grayscale(0%);
		opacity: 1;
		transition: all 0.6s ease;
	}

	#home-banner-carousel .carousel-inner .carousel-item .carousel-caption {
		padding: 30px 20px 50px 20px;
		text-align: center;
	}

	#home-banner-carousel .carousel-indicators {
		max-width: 150px;
		justify-content: center;
	}

	.sample-collections ul {
		flex-wrap: wrap;
	}

	.sample-collections ul li {
		width: 31.33%;
	}

	#fxng.fixed {
		top: 61px;
	}

	.tabular-function ul li a,
	#fxng.fixed .tabular-function ul li a {
		font-size: 15px;
		padding: 10px 15px;
	}

	.nav-tabs .nav-link {
		font-size: 13px;
		padding: 15px 0px;
	}

	.commeon-heading h4 {
		font-size: 28px;
		line-height: 36px;
	}

	ul.timeline {
		padding: 0px;
		display: block;
	}

	ul.timeline li {
		width: 100%;
		padding: 20px 20px 20px 100px;
	}

	ul.timeline li:before {
		width: 1px;
		height: 100%;
		left: 34px;
		top: 0;
		right: inherit;
		border-top: none;
		border-left: 1px dotted #5b2584;
	}

	ul.timeline li:first-child:before,
	ul.timeline li:last-child:before {
		width: 1px;
		border-top: none;
		border-left: 1px dotted #5b2584;
	}

	ul.timeline li:last-child:before {
		right: inherit;
		height: 50%;
	}

	ul.timeline li:first-child:before {
		top: 50%;
		height: 50%;
	}

	ul.timeline li p,
	ul.timeline li.top p {
		position: relative;
		bottom: inherit;
		top: inherit;
		text-align: left;
	}

	ul.timeline li span {
		left: 0px;
		top: calc(50% - 35px);
	}

	ul.timeline li p:before,
	ul.timeline li.top p:before {
		left: -16px;
		top: calc(50% - 8px);
		transform: rotate(90deg);
	}

	.home-visit-form {
		top: -30px;
	}
}

@media (max-width:767px) {

	body,
	body.home {
		padding-top: 82px;
	}

	.container {
		max-width: 100%;
	}

	header .quote-btn {
		display: none;
	}

	.show-mobile {
		display: block !important;
	}

	.show-desktop {
		display: none !important;
	}

	h2 {
		font-size: 34px;
	}
	.infrastructure.tab-content .tab-pane .card-body{
		min-height: auto;
	}
	#home-banner-carousel .carousel-control-next,
	#home-banner-carousel .carousel-control-prev {
		display: none;
	}

	#home-banner-carousel .carousel-indicators {
		justify-content: center;
	}

	#home-banner-carousel .carousel-inner .carousel-item .carousel-caption h1 {
		font-size: 36px;
		line-height: 46px;
	}

	#home-banner-carousel .carousel-caption p,
	.commeon-heading h4 {
		font-size: 26px;
		line-height: 36px;
	}

	ul.counters-list li {
		width: 50%;
	}

	.sample-collections ul li {
		width: 46%;
		margin: 10px 2%;
	}

	.health-packages-lst img.hlth-imgue {
		display: none;
	}

	.home-services-scroll a {
		margin: 10px;
	}

	.home-services-scroll .slick-next {
		right: 10px;
	}

	.home-services-scroll .slick-prev {
		left: 10px;
	}

	.comn-btns a {
		padding: 15px 20px;
	}

	.tab-content>.tab-pane {
		display: block !important;
		opacity: 1;
		margin-top: 10px;
	}
	.home-testimonials .home-testimonial-image{
		padding: 40px 0px 10px 0px;
	}
	.home-testimonials .home-testimonial-image img{
		width: 70px;
		height: 70px;
	}
	.home-testimonials {
		max-width: 70%;
	}
}

@media (max-width:600px) {
	.pad-top-100 {
		padding-top: 50px !important;
	}
	.pad-bot-100 {
		padding-bottom: 50px !important;
	}
	.form-data,
	.form-data input,
	.form-data select,
	.gj-datepicker {
		width: 100%;
	}
	.form-data input[type=submit] {
		margin-right: 0px;
		width: 100%;
	}

	.find-a-lab p,
	.buddy-cards p {
		max-width: 90%;
	}

	.find-a-lab img,
	.buddy-cards img {
		max-width: 200px;
	}

	ul.testimonials li {
		padding: 30px 20px 30px 70px;
	}

	ul.testimonials li img {
		width: 50px;
		height: 50px;
		top: calc(50% - 25px);
		border-width: 2px;
	}

	ul.testimonials li p {
		font-size: 14px;
		line-height: 20px;
	}

	ul.testimonials li p strong {
		font-size: 16px;
	}

	ul.testimonials li:before {
		left: 25px;
	}
}

@media (max-width:400px) {
	body {
		padding-top: 71px;
	}
}
.cart-count {
	height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 10px;
    line-height: 0;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}